body {
    margin: 0;
    font-size: 18px;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body .right-side {
    font-size: 16px;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
.sidebar a.active {
    background-color: blue;
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
div.right-side {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
  
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.right-side {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}